*{
  margin: 0;
  padding: 0;

}
body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f3f5fc;
}
 .logo{
  position: absolute;
    left: 36.67px;
    right: 37.43%;
    top: 3%;
    bottom: 0%;
}
.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #f3f5fc;
}

.texto::placeholder {
  color: #0a3871;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

.alerta {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 80%;
}

.alerta p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones {
  
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
  
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background-color: #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  margin-right:20px;
  cursor: pointer;
  transition: 1s all;
}

.btn-desencriptar {
  
  align-items: center;
  
  
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #d8dfe8;
  border:  #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  margin-left: 20px;
  cursor: pointer;
  transition: 1s all;
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
  
  transform: scale(1.1);
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 92%;
  left: 65%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.encriptado textarea {
  position: absolute;
  width: 80%;
  
  background-image: url(Imagenes/muñeco.png);
  background-repeat: no-repeat;
  height: 48%;
  top: 15%;
  border: none;
  font-size: 22px;
  text-transform: lowercase;
}
.mensaje:focus,
  .mensaje:active {
  border: none;
  outline: none;

}



.copiar{
  position: relative;
  width: 300px;
  height: 60px;
  border-radius:24px;
  border:solid 1px #0a3871;
  display:none;

  top:85%;
  color: #0a3871;
  cursor: pointer;
}




/* Responsive*/



@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: ;
  }
  .encriptar {
    width: 100%;
  }
  .texto {
    width: 80%;
    height: 40%;
    left: 10%;
    top: 20%;
  }
  
  .alerta{
    top:60%;
  }
  .alerta p {
    font-size: 16px;
  }
  .botones {
    
    
    width: 80%;
    left: 10%;
    top: 400px;
  }
  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 10px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .encriptado {
    
    width: 100%;
    height:70%;
    left: 1%;
    top: 80%;
  }
  .mensaje-encriptado {
    width: 80%;
    top: 75%;
    left: 6%;
    
  }
  .encriptado textarea {
    top: 10%;
    height: 60%;
    
  }
  
  .copiar{
    
    top: 90%;
    width:360px;
    height:40px;
    right: 8px;
    border-radius:10px;
  }
  
    
  
}
@media (max-width:450px){
  .alerta{
    top: 47%;
  }
  
  .alerta p{
    font-size: 12px;
  }
 .botones{
  
  width: 80%;
  left: 10%;
  top: 320px;
 }
  
  .copiar{
    top:95%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
  }
}
